@media screen and(max-width: 480px) {
    img {
    border: 0;
    }
    }
@media screen and(min-width: 1280px) {
    img {
    border: 1px solid red;
    }
}

p {
    font-size: xx-large;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #fff;
  border-radius: 0.5rem;
}

.btn--ok,
a.btn--ok {
    border: 2px solid #fff;
    border-radius: 0;
    background: #eb6100;
}
.btn--ok:hover,
a.btn--ok:hover {
    color: #f56500;
    background: #fff;
}