<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>退室確認</title>
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{% static "css/out_confirmation_style.css" %}"/>
</head>
<body>
<pre>b301から
    退室しますか？</pre>
<p><a href='exit_ok' class="btn btn--yes">は　い</a></p>
<a href='home' class="btn btn--no">いいえ</a>

</body>
<style>
    body{
        text-align: center;
    }
</style>
</html>